{% extends "base.html" %}



    <!--
    @main.route('/user/<username>')
    def user(username):
    return render_template('user.html', user=user, posts=posts)
    -->


    {% block page_content %}

    {% if current_user.can(Permission.FOLLOW) and user != current_user %}

        {% if not current_user.is_following(user) %}
        <a href="{{ url_for('.follow', username=user.username) }}"
            class="btn btn-danger">Follow</a>
        {% else %}
        <a href="{{ url_for('.unfollow', username=user.username) }}"
            class="btn btn-default">Unfollow</a>
        {% endif %}

    {% endif %}
    <!-- Not followed before, then show Follow button. Followed before, then show Unfollow button -->
    <a href="{{ url_for('.followers', username=user.username) }}">
        Followers: <span class="badge">{{ user.followers.count()-1 }}</span>
    </a>
    <a href="{{ url_for('.followed_by', username=user.username) }}">
        Following: <span class="badge">{{ user.followed.count()-1 }}</span>
    </a>
    <!--Numbers of his fans and stars followed by the user of the page -->
    {% if current_user.is_authenticated and user != current_user and
        user.is_following(current_user) %}
    | <span class="label label-default">Following you</span>
    {% endif %}
    <!--Whether the user of the page is following current_user or not-->


    <div class="page-header">

      <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=192) }}">
    <div class="profile-header">
            Profile avatar
    </div>
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <!--<p>{{ user.role.rolename }}</p>-->
        <p>
            {% if user.about_me %}{{ user.about_me }}.{% endif %}
            {% if user.name %}{{ user.name }}.{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">
                    {{ user.location }}.
                </a>
            {% endif %}
        </p>

        {% endif %}

        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        <p>
            Member since: {{ moment(user.member_since).format('LLL') }}.
            Last seen: {{ moment(user.last_seen).fromNow(refresh=True) }}.
            Last login: {{ moment(user.last_login).format('LLL') }}.
        </p>

    </div>
<!--
    {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
    Edit Profile
    </a>
    {% endif %}
    {% if current_user.is_administrator() %}
    <a class="btn btn-default"
            href="{{ url_for('.edit_profile_admin', id=user.id) }}">
        Edit Profile [Admin]
    </a>
    {% endif %}
    <br>
-->
{% for follow in follows %}
{% if follow.get('user').username != user.username %}

<p>
<a href="{{ url_for('.user', username=follow.get('user').username) }}">
    <img class="img-rounded profile-thumbnail"
        src="{{ follow.get('user').gravatar(size=40) }}">
</a>
User: {{ follow.get('user').username }} #
Timepoint: {{ moment(follow.get('timestamp')).format('LLL') }}
</p>

{% endif %}
{% endfor %}

{% import "_macros.html" as macros %}
<div class="pagination">
  {{ macros.pagination_widget(pagination, '.followed_by', username=user.username) }}
</div>
    {% endblock %}
